doctype html
html
  head
    title Messenger for Desktop

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
      
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
      
    meta(name='theme-color' content='#0084FF')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
      
    meta(name='description' content='A simple & beautiful app for Facebook Messenger. Chat without distractions on any OS.')
    meta(name='keywords' content='facebook, messenger, chat, conversations, desktop, client, download')

    meta(name='author' content='aluxian.com')
    meta(name='copyright' content='aluxian.com')
    meta(name='application-name' content='Messenger for Desktop')
      
    meta(property='og:title' content='Messenger for Desktop')
    meta(property='og:description' content='A simple & beautiful app for Facebook Messenger. Chat without distractions on any OS.')
    meta(property='og:type' content='website')
    meta(property='og:image' content='http://messengerfordesktop.com/img/preview.jpg')
    meta(property='og:url' content='http://messengerfordesktop.com')
      
    // inject:css

  body
        
    section#header
      .container
        a.svg.logo(href='/')
          include ../svg/logo.svg
          
        h1.title Messenger for Desktop
        p.subtitle A simple & beautiful app for Facebook Messenger.#[br]Chat without distractions on any OS.

        h3 Beware, this is a fork of the original application (#[a.link(href="https://messengerfordesktop.com") Found here]) with its own auto-updater based on my releases.
        
        a.button.filled(href='#download' data-scroll) Download Now
        span.notice Not an official app. No affiliation with Facebook.
    
    section.blue#platforms
      .container
        h2.title OS X, Windows & Linux
        
      img.wide(src='img/platforms.jpg' alt='Platforms Preview')
        
    section#messenger-features
      .container
        h2.title Texting and so much more
          
        ul.container
          li
            .tile
              a(href='https://www.messenger.com/features#texts')
                span.tile-sprite.tile-sprite-1
                p.description Know when people have seen your texts.
          li
            .tile
              a(href='https://www.messenger.com/features#hdcalls')
                span.tile-sprite.tile-sprite-2
                p.description Make HD calls anywhere in the world.
          li
            .tile
              a(href='https://www.messenger.com/features#photos')
                span.tile-sprite.tile-sprite-3
                p.description Snap photos and shoot videos.

        ul.container
          li
            .tile
              a(href='https://www.messenger.com/features#stickers')
                span.tile-sprite.tile-sprite-4
                p.description Choose from thousands of stickers.
          li
            .tile
              a(href='https://www.messenger.com/features#voicemessages')
                span.tile-sprite.tile-sprite-5
                p.description Record voice messages.
          li
            .tile
              a(href='https://www.messenger.com/features#groups')
                span.tile-sprite.tile-sprite-6
                p.description Chat with your favorite groups.
          
        a.button.bordered.blue(href='https://www.messenger.com/' target='_blank') Explore on messenger.com
        
    section.blue#features
      .container
        h2.title Integrated with your OS
        ul.clearfix
          li
            span.feature.feature-1
            .subtitle Launch on#[br]OS startup
          li
            span.feature.feature-2
            .subtitle Native#[br]Notifications
          li
            span.feature.feature-3
            .subtitle Custom#[br]Themes
      
    section#download
      .container
        h2.title Download
        
      ul.container
        li: a.button.bordered.blue#fhosx(href='https://github.com/Sytten/Facebook-Messenger-Desktop/releases/download/v1.5.0/Messenger_osx64_V150.dmg' onclick="ga('send', 'event', {eventCategory: 'Download', eventAction: 'Mac', eventLabel: this.getAttribute('galabel')})" galabel='GitHub')
          span.osx
            include ../svg/apple.svg
            span OS X 10.7+
            
        li: a.button.bordered.blue#fhwin(href='https://github.com/Sytten/Facebook-Messenger-Desktop/releases/download/v1.5.0/Messenger_win32_V150.exe' onclick="ga('send', 'event', {eventCategory: 'Download', eventAction: 'Windows', eventLabel: this.getAttribute('galabel')})" galabel='GitHub')
          span
            include ../svg/windows.svg
            span Windows

      ul.container
        li: a.button.bordered.blue(href='https://github.com/Sytten/Facebook-Messenger-Desktop/releases/download/v1.5.0/Messenger_linux32_V150.deb' onclick="ga('send', 'event', {eventCategory: 'Download', eventAction: 'Linux32DEB', eventLabel: 'GitHub'})")
          span
            include ../svg/debian.svg
            span DEB 32-bit
        
        li: a.button.bordered.blue(href='https://github.com/Sytten/Facebook-Messenger-Desktop/releases/download/v1.5.0/Messenger_linux64_V150.deb' onclick="ga('send', 'event', {eventCategory: 'Download', eventAction: 'Linux64DEB', eventLabel: 'GitHub'})")
          span
            include ../svg/debian.svg
            span DEB 64-bit

      ul.container
        li: a.button.bordered.blue.blue(href='https://github.com/Sytten/Facebook-Messenger-Desktop/releases/download/v1.5.0/Messenger_linux32_V150.rpm' onclick="ga('send', 'event', {eventCategory: 'Download', eventAction: 'Linux32RPM', eventLabel: 'GitHub'})")
          span
            include ../svg/rpm.svg
            span RPM 32-bit
        
        li: a.button.bordered.blue(href='https://github.com/Sytten/Facebook-Messenger-Desktop/releases/download/v1.5.0/Messenger_linux64_V150.rpm' onclick="ga('send', 'event', {eventCategory: 'Download', eventAction: 'Linux64RPM', eventLabel: 'GitHub'})")
          span
            include ../svg/rpm.svg
            span RPM 64-bit

      .container
        p
        a.link(href='https://github.com/Sytten/Facebook-Messenger-Desktop/releases/latest') Download from GitHub
    
        
    section.blue#contribute
      .container
        h2.title Contribute
        
        ul
          li: a.button.bordered.white(href='https://github.com/Sytten/Facebook-Messenger-Desktop') VIEW ON GITHUB
          li: a.button.bordered.white(href='https://github.com/Sytten/Facebook-Messenger-Desktop/issues') ISSUE/REQUEST
          li: a.button.bordered.white(href='mailto:emilefugulin@gmail.com') CONTACT DEV
    
       
    section#share
      .container
        h2.title Spread the love
            
    .footer-image
    
    footer
      .container
        p.left No affiliation with Facebook. Some images taken from #[a(href='https://www.messenger.com/') messenger.com]
        p.right Created with &hearts; by #[a(href='http://www.aluxian.com/') Alexandru Rosianu] and maintained by #[a(href='http://www.github.com/Sytten') Emile Fugulin]        
    // inject:js